@import url(https://fonts.googleapis.com/css?family=Kavoon);

body#test {
  background-image: url("../images/bgBlue.jpg");
  background-repeat: repeat;
  font-size: 24px;
}

.container {
  max-width: 320px;
  margin: auto;
  touch-action: none;
}

header#head {
  padding: 12px;
  background: black;
  color: white;
}

.col-4 {
  min-height: 90px;
  z-index: 1;
}

span#score {
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 21px;
  background-color: #f4d03f;
    box-shadow: 4px 4px 4px black;
  padding: 6px 12px;
}

span#time {
  text-align: center;
  font-size: 2rem;
  color: white;
}



[alt="Grandma"] {
  display: block;
}